spring:
  config:
    activate:
      on-profile: default
  datasource:
    url: ${POSTGRES_DATASOURCE_URL}
    username: ${POSTGRES_DATASOURCE_USERNAME}
    password: ${POSTGRES_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp:
          use_jdbc_metadata_defaults: false
    show-sql: true
    generate-ddl: true
  application:
    name: grain-pay-api
  flyway:
    enabled: true
server:
  port: ${PORT}
